<section id="hero" class="">
    <div class="container">
        <div class="row align-items-center grid-cols-2">
            <div class="row1">
                <p class="years-home"><span class="year-num">136</span><span class="year-str">años</span></p>
                <h1>Representando la actividad <br>empresarial Arequipeña</h1>
                <p class="rowp mt-5">Trabajamos en el incremento de la competitividad entre empresas,<br> representándolos,
                    defendiendo sus
                    intereses gremiales e <br> impulsando su desarrollo y en consecuencia el desarrollo de <br >Arequipa.</p>
            </div>
            <div class="row2">
                <div id="" class="carousel slide" data-touch="false" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://www.camara-arequipa.org.pe/public/images/slider/home1.png" loading="lazy" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>