---
import Arrow from "./comuns/Arrow.astro";
import Empresas from "./comuns/Empresas.astro";
import NavbarEmpresas from "./comuns/NavbarEmpresas.astro";
---

<section class="directorio-menu py-6 mt-40">
    <NavbarEmpresas/>
    <div class="container mt-14">
        <form
            action="https://www.camara-arequipa.org.pe/directorio"
            method="post"
        >
            <div class="row">
                <div>
                    <input
                        type="text"
                        class="flex-grow form-control input-control-search"
                        id="search-directorio"
                        name="search"
                        placeholder="Coloca el nombre de la empresa o el tipo de servicio que estás buscando"
                    />
                </div>
                <div class="flex align-items-center pl-[500px]">
                    <div class="search-cat flex-grow flex">
                        <label class="flex-grow pr-20">Categorías</label>
                        <label class="flex-grow pr-20">|</label>
                        <select
                            class="flex-grow form-control1"
                            name="comite"
                            id=""
                        >
                            <option value="">Seleccione</option>
                            <option value="10">Agropecuario</option>
                            <option value="11">Automotriz</option>
                            <option value="12">Banca, Seguros y AFPs</option>
                            <option value="13">Comercio</option>
                            <option value="14">Construcción</option>
                            <option value="15">Minería</option>
                            <option value="16">Pequeña Empresa</option>
                            <option value="17">Producción</option>
                            <option value="18">Servicios</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-secundario flex mt-4"
                        ><i> <Arrow/>
                        </i> Buscar</button
                    >
                </div>
            </div>
        </form>
    </div>
</section>
<Empresas/>


