<section id="download">
    <div class="dtl grid grid-cols-2 gap-2">
        <div class="pt-20 pl-20 text-white">
            <h2>Descarga <span>nuestra app</span></h2>
            <p class="mt-5">“Creada por y para los emprendedores”</p>
            <p>Realiza todos tus trámites a través de nuestra nueva aplicación.</p>
            <p>Entérate de las novedades que tenemos para ti y mantente informado con este nuevo canal de atención
                al socio.</p>

            <div class="iconos grid grid-cols-2 pt-20">
                <a href="">
                    <img src="../../public/images/ios.webp" class="img-fluid-a" loading="lazy" alt="">
                </a>
                <a href="https://play.google.com/store/apps/details?id=org.pe.camara.arequipa.app&amp;hl=es_PE&amp;gl=US">
                    <img src="../../public/images/android2.webp" class="img-fluid-b" loading="lazy" alt="">
                </a>
            </div>
        </div>

        <div class="imagen">
            <img class="app-img" src="../../public/images/app.webp" alt="">
        </div>
    </div>
</section>