<section id="options">
        <nav class="nav1">
            <a href="https://www.worldcomplianceassociation.com/172/nivel-compliance-programa-de-cumplimiento-anticorrupcion-requisitos-peru.html#submenuhome" target="_blank" class="inside-nav box-items-service">
                <img src="https://www.camara-arequipa.org.pe/public/images/resources/diagnotico.svg" alt="">
                <h2>Diagnostica tu empresa, para el programa  de cumplimiento antisoborno</h2>
            </a>
        </nav>

        <nav class="principal container flex gap-20 mx-auto">
    
        <nav class="nav2 w-1/2">
            <a href="https://bibliotecacompliance.com/" target="_blank" class="inside-nav1 box-items-service">
                <img src="https://www.camara-arequipa.org.pe/public/images/resources/bcamara.svg" alt="">
                <h2>Biblioteca Digital de la Cámara Oficial de Comercio de España en el Perú</h2>
            </a>
        </nav>
    
        <nav class="nav2 w-1/2">
            <a href="https://bibliotecacompliance.com/" target="_blank" class="inside-nav1 box-items-service">
                <img src="https://www.camara-arequipa.org.pe/public/images/resources/bwca.svg" alt="">
                <h2>Biblioteca WCA: Espacio de descarga gratuita: Documentos Compliance: </h2>
            </a>
        </nav>
    </nav>
    
        <!-- <div class="container">
            <a href="https://www.worldcomplianceassociation.com/172/nivel-compliance-programa-de-cumplimiento-anticorrupcion-requisitos-peru.html#submenuhome" target="_blank" class="m-3 bg-white d-flex items-center justify-center p-4 box-items-service text-dark">
                <img src="https://www.camara-arequipa.org.pe/public/images/resources/diagnotico.svg" alt="">
                <h2 style="font-size: 1.3rem;" class="mb-0">Diagnostica tu empresa, para el programa  de cumplimiento antisoborno</h2>
            </a>
            <div class="d-flex align-items-center">
                <a href="https://bibliotecacompliance.com/" target="_blank" class="m-3 bg-white d-flex items-center justify-center w-100 p-4 box-items-service text-dark">
                    <img src="https://www.camara-arequipa.org.pe/public/images/resources/bcamara.svg" alt="">
                    <h2 style="font-size: 1.3rem;" class="mb-0">Biblioteca Digital de la Cámara Oficial de Comercio de España en el Perú</h2>
                </a>
                <a href="https://bibliotecacompliance.com/" target="_blank" class="m-3 bg-white d-flex items-center justify-center w-100 p-4 box-items-service text-dark">
                    <img src="https://www.camara-arequipa.org.pe/public/images/resources/bwca.svg" alt="">
                    <h2 style="font-size: 1.3rem;" class="mb-0">Biblioteca WCA: Espacio de descarga gratuita: Documentos Compliance: </h2>
                </a>
            </div>

        </div> -->
</section>