---
import Script from "./comuns/Script.astro";

---


<section id="publicity">
  <h2 class="mb-4">Publicidad</h2>
  <div class="slider">
    <div class="slide active">
      <img src="../../public/images/publicidad1.webp" alt="" />
    </div>
    <div class="slide">
      <img src="../../public/images/publicidad2.webp" alt="" />
    </div>
    <div class="slide">
      <img src="../../public/images/publicidad3.webp" alt="" />
    </div>

    <div class="navigation">
      <i class="prevb">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-7 h-7">
          <path d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" />
        </svg>
        
      </i>
      <i class="nextb">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-7 h-7">
          <path d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"/>
        </svg>        
      </i>
    </div>

    <div class="navigation-visibility">
      <div class="slide-icon active"></div>
      <div class="slide-icon"></div>
      <div class="slide-icon"></div>
    </div>
  </div>  

  <Script/>

      <div class="col-md-4 text-center">
    <h5 class="mb-4">Si deseas participar en esta sección contáctese con nuestra ejecutiva comercial</h5>
    <a href="https://wa.link/3zcfnl" target="_blank" class="btn-primario"><i class="fab fa-lg fa-whatsapp"></i> Whatsapp</a>
</div>

</section>


