<section id="video">
    <div class="row"> 
            <h2>Conócenos</h2>
            <p>“Creada por y para los emprendedores”</p>
            <p>Descubre nuestros servicios y todos<br>los beneficios que brindamos a nuestros socios.</p>
            <div class="video-home-url">
                <!-- <a href="" id="btn-modal"> -->
                <img id="btn-modal" src="https://www.camara-arequipa.org.pe/public/images/resources/video.png" loading="lazy" width="100%" alt="">
                <!-- </a> -->
            </div>
            <div class="text-center">
                <h3 class="my-5">Estás a un clic de ser parte de<br>la red empresarial más grande de la
                    ciudad
                </h3>
                <a class="btn-outline" href="https://www.camara-arequipa.org.pe/afiliaciones">Quiero
                    ser socio</a>
            </div>
        </div>
    </div>
</section>