---
import Arrow1 from "./Arrow1.astro";
import Arrow from "./Arrow.astro";
---

<section class="capacitacionesCCIA">
    <div class="dtl grid grid-cols-2 gap-2">
        <div class="pt-20 pl-10">
            <h2>Capacitaciones <span><br />CCIA</span></h2>
            <p>
                Accede a programas en instituciones de calidad.<br /><br />
                Exclusivo para asociados


            </p>

            <button type="submit" class="btn btn-secundario flex mt-10"
                ><i> <Arrow1 /></i> Quiero ser asociado</button
            >
        </div>

        <div>
            <div class="imagen1">
                <img
                    class="app-img1"
                    src="../../public/images/eventos.webp"
                    alt=""
                />
            </div>
        </div>
    </div>
        <div class="pt-20 text-center"><h2>Nuestras Capacitaciones</h2>
        <ul class="nav nav-pills mb-3 mt-5 flex justify-center pl-4 pr-4" id="pills-tab">
            <li class="nav-item">
                <a
                    class="nav-link active"
                    id="pills-socios-tab"
                    href="#pills-extension">Extensión Profesional</a
                >
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#pills-cursos"
                    >Cursos, Talleres y Sesiones</a
                >
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#pills-ciclos"
                    >Ciclo de conferencias magistrales,
                    talleres gratutitos</a
                >
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#pills-herramientas"
                    >Herramientas y asesorías</a
                >
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#pills-diplomados"
                    >Diplomados</a
                >
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane grid-cols-3 gap-4 flex" id="pills-extension">
                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center  pt-[90px] pb-[90px]"
                    >
                        <img
                            src="../../../public/images/tecsup.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title ">TECSUP</h5>
                        <p class="pt-2 pb-4">Hasta 25%</p> 
                        <a
                            href="###########"
                            class="btn-secundario flex"
                            ><Arrow/><i class=""> Más información</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center  pt-[60px] pb-[60px]"
                    >
                        <img
                            src="../../../public/images/esan.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title ">Universidad ESAN</h5>
                        <p class="pt-2 pb-4">15%</p> 
                        <a
                            href="###########"
                            class="btn-secundario flex"
                            ><Arrow/><i class=""> Más información</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center  pt-[30px] pb-[30px]"
                    >
                        <img
                            src="../../../public/images/lasalle.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title ">Universidad La Salle</h5>
                        <p class="pt-2 pb-4">10%</p> 
                        <a
                            href="###########"
                            class="btn-secundario flex"
                            ><Arrow/><i class=""> Más información</i></a
                        >
                    </div>
                </div>
            </div>

            <div class="tab-pane grid-cols-3 gap-4 flex" id="pills-cursos">
                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center  pt-[70px] pb-[80px]"
                    >
                        <img
                            src="../../../public/images/HP-360.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title ">High Performance 360</h5>
                        <p class="pt-2 pb-4">20%</p> 
                        <a
                            href="###########"
                            class="btn-secundario flex"
                            ><Arrow/><i class=""> Más información</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center  pt-[70px] pb-[90px]"
                    >
                        <img
                            src="../../../public/images/orion.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title ">Orion GPE</h5>
                        <p class="pt-2 pb-4">20%</p> 
                        <a
                            href="###########"
                            class="btn-secundario flex"
                            ><Arrow/><i class=""> Más información</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center  pt-[80px] pb-[100px]"
                    >
                        <img
                            src="../../../public/images/proavance.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title ">Proavance</h5>
                        <p class="pt-2 pb-4">20%</p> 
                        <a
                            href="###########"
                            class="btn-secundario flex"
                            ><Arrow/><i class=""> Más información</i></a
                        >
                    </div>
                </div>
            </div>

            <div class="tab-pane grid-cols-3 gap-4 flex" id="pills-ciclos">
                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center  pt-[60px] pb-[60px]"
                    >
                        <img
                            src="../../../public/images/ey.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title ">EY</h5>
                        <a
                            href="###########"
                            class="btn-secundario flex pt-4"
                            ><Arrow/><i class=""> Más información</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center  pt-[70px] pb-[60px]"
                    >
                        <img
                            src="../../../public/images/pwc.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title ">PwC Perú</h5>
                        <a
                            href="###########"
                            class="btn-secundario flex pt-4"
                            ><Arrow/><i class=""> Más información</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center  pt-[80px] pb-[67px]"
                    >
                        <img
                            src="../../../public/images/esan.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title ">Universidad ESAN</h5>
                        <a
                            href="###########"
                            class="btn-secundario flex pt-4"
                            ><Arrow/><i class=""> Más información</i></a
                        >
                    </div>
                </div>
            </div>

            <div class="tab-pane grid-cols-3 gap-4 flex" id="pills-herramientas">
                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center  pt-[0px] pb-[0px]"
                    >
                        <img
                            src="../../../public/images/cognitio.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title ">Cognitio</h5>
                        <a
                            href="###########"
                            class="btn-secundario flex pt-4"
                            ><Arrow/><i class=""> Más información</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center  pt-[80px] pb-[100px]"
                    >
                        <img
                            src="../../../public/images/intedya.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title ">INTEDYA</h5>
                        <a
                            href="###########"
                            class="btn-secundario flex pt-4"
                            ><Arrow/><i class=""> Más información</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center  pt-[100px] pb-[105px]"
                    >
                        <img
                            src="../../../public/images/ms.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title ">M+S</h5>
                        <a
                            href="###########"
                            class="btn-secundario flex pt-4"
                            ><Arrow/><i class=""> Más información</i></a
                        >
                    </div>
                </div>
                
            </div>

            <div class="tab-pane grid-cols-3 gap-4 flex" id="pills-diplomados">
                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center  pt-[80px] pb-[100px]"
                    >
                        <img
                            src="../../../public/images/proavance.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title ">Proavance</h5>
                        <p class="pt-2 pb-4">20%</p> 
                        <a
                            href="###########"
                            class="btn-secundario flex"
                            ><Arrow/><i class=""> Más información</i></a
                        >
                    </div>
                </div>
            </div>
        </div>

    </div>
        
    
</section>