---
import Arrow from "./Arrow.astro";
import Stars from "./Stars.astro";
import ChangePageNumbers from "./ChangePageNumbers.astro"
---

<section class="empresas py-6">
    <div class="row pl-10">
        <div class="container flex">
            <div class="grid grid-cols-3 gap-4">
                <div class="column1">
                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center  pt-[0px] pb-[0px]"
                        >
                            <img
                                src="../../../public/images/clinicaArequipa.webp"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body ml-2">
                            <h5 class="card-title">CLINICA AREQUIPA S.A.</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="###########"
                                class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>
                
                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[60px] pb-[60px]"
                    >
                        <img
                            src="../../../public/images/cite.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">CENTRO DE INNOVACIÓN TECNOLÓGICA DE ARTESANÍAS Y TURISMO AREQUIPA</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[0px] pb-[0px]"
                    >
                        <img
                            src="../../../public/images/champagnat.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">COLEGIO PRIVADO CHAMPAGNAT</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[50px] pb-[40px]"
                    >
                        <img
                            src="../../../public/images/buenaventura.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">CIA. DE MINAS BUENAVENTURA S.A.A.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[0px] pb-[0px]"
                    >
                        <img
                            src="../../../public/images/supermix.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">CONCRETOS SUPERMIX S.A.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[40px] pb-[40px]"
                    >
                        <img
                            src="../../../public/images/cumbres.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">CONSTRUCTORA CUMBRES CHALLAPAMPA SAC</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[100px] pb-[120px]"
                    >
                        <img
                            src="no found"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">CORPORACION ADMINISTRADORA DE TERMINALES TERRESTRE</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[0px] pb-[0px]"
                    >
                        <img
                            src="../../../public/images/ricoPollo.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">RICO POLLO</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[90px] pb-[90px]"
                    >
                        <img
                            src="../../../public/images/delgadoLira.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">DELGADO LIRA S.A. CONTRATISTAS GENERALES</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[0px] pb-[0px]"
                    >
                        <img
                            src="../../../public/images/dimsac.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">DIMSAC DENT</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[70px] pb-[90px]"
                    >
                        <img
                            src="../../../public/images/dyschem.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">DYSCHEM E.I.R.L.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[70px] pb-[70px]"
                    >
                        <img
                            src="../../../public/images/eBiz.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">E-BUSINESS INTERCHANGE ZONE SAC</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[30px] pb-[40px]"
                    >
                        <img
                            src="../../../public/images/batan.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">EMARAN S.A.C.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[100px] pb-[120px]"
                    >
                        <img
                            src="no found"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">EMPRESA DE HOSPEDAJE TURISTICO S.R.L.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[60px] pb-[60px]"
                    >
                        <img
                            src="../../../public/images/estudioMuniz.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">ESTUDIO MUÑIZ - AREQUIPA SOCIEDAD CIVIL DE RESPONSABILIDAD LIMITADA</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[50px] pb-[50px]"
                    >
                        <img
                            src="../../../public/images/iberica.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">FABRICA DE CHOCOLATES LA IBERICA S.A.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                

                </div>

                <div class="column2">

                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[90px] pb-[80px]"
                        >
                            <img
                                src="../../../public/images/cajaTacna.webp"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">CMAC TACNA S.A.</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>

                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[0px] pb-[0px]"
                        >
                            <img
                                src="../../../public/images/codiresa.webp"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">CODIRESA SAC</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>

                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[110px] pb-[110px]"
                        >
                            <img
                                src="../../../public/images/clg.webp"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">COMERCIAL LA GOLOSINA EIRL</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>

                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[20px] pb-[15px]"
                        >
                            <img
                                src="../../../public/images/sm.webp"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">COMPAÑIA SEMILLERA MONTOYA FAKHYE E.I.R.L</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>


                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[70px] pb-[60px]"
                        >
                            <img
                                src="../../../public/images/consejeros.webp"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">CONSEJEROS Y CORREDORES DE SEGUROS S.A.</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>


                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[100px] pb-[120px]"
                        >
                            <img
                                src="no found"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">CONTRATA DIRECTA-INGENIERIA NEGOCIOS S.A.C</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>


                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[10px] pb-[5px]"
                        >
                            <img
                                src="../../../public/images/serviciosIndustriales.webp"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">CORPORACION DE SERVICIOS INDUSTRIALES S.R.L.</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>


                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[120px] pb-[120px]"
                        >
                            <img
                                src="no found"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">COTRANS E.I.R.L.</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>


                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[40px] pb-[50px]"
                        >
                            <img
                                src="../../../public/images/covisur.webp"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">COVISUR S.A.</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>


                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[70px] pb-[70px]"
                        >
                            <img
                                src="../../../public/images/olano.webp"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">DISTRIBUCIONES OLANO SAC</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>


                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[110px] pb-[120px]"
                        >
                            <img
                                src="no found"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">E. Y M. SAC</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>

                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[110px] pb-[120px]"
                        >
                            <img
                                src="no found"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">EDILZA S.R.L.</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>

                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[40px] pb-[40px]"
                        >
                            <img
                                src="../../../public/images/ism.webp"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">EMBOTELLADORA SAN MIGUEL DEL SUR S.A.C.</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>


                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[75px] pb-[70px]"
                        >
                            <img
                                src="../../../public/images/equiposSuministros.webp"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">EQUIPOS Y SUMINISTROS OUTSOURCING S.A.C.</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>


                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[90px] pb-[90px]"
                        >
                            <img
                                src="../../../public/images/urviola.webp"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">ESTUDIO URVIOLA ABOGADOS S.A.C.</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>


                    <div class="card border rounded-lg">
                        <div
                            class="card-header flex items-center justify-center pt-[50px] pb-[50px]"
                        >
                            <img
                                src="../../../public/images/paretto.webp"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body pl-2">
                            <h5 class="card-title">FABRICA DE CONFECCIONES PARETTO S.A.C.</h5>
                            <div class="stars mb-4 flex">
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                                <i><Stars /></i>
                            </div>
                            <a
                                href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                                class="btn-secundario flex"
                                    ><Arrow/><i class=""> Ver más</i></a
                            >
                        </div>
                    </div>







                    
            </div>

            <div class="column3">

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[30px] pb-[30px]"
                    >
                        <img
                            src="../../../public/images/cabildo.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body pl-2">
                        <h5 class="card-title">CNR REPRESENTACIONES E INVERSIONES S.A.C.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="https://www.camara-arequipa.org.pe/directorio/detalle/1/adecco"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>


                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[0px] pb-[0px]"
                    >
                        <img
                            src="../../../public/images/cognitio.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">COGNITIO CONSULTING S.A.C.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[60px] pb-[60px]"
                    >
                        <img
                            src="../../../public/images/csi.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">COMERCIO SERVICIOS E INVERSIONES S.A.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[80px] pb-[65px]"
                    >
                        <img
                            src="../../../public/images/conauto.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">CONCESIONARIOS AUTORIZADOS S.A.C</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[50px] pb-[45px]"
                    >
                        <img
                            src="../../../public/images/corsa.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">CONSORCIO DE REPRESENTACIONES S.A.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[0px] pb-[0px]"
                    >
                        <img
                            src="../../../public/images/kori.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">COOPAC KORI</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[50px] pb-[55px]"
                    >
                        <img
                            src="../../../public/images/lindley.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">CORPORACION LINDLEY S.A.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[60px] pb-[60px]"
                    >
                        <img
                            src="../../../public/images/danka.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">DANKA CORPORATION PERU S.A.C.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[80px] pb-[80px]"
                    >
                        <img
                            src="../../../public/images/dimexa.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">DIMEXA S.A.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[110px] pb-[110px]"
                    >
                        <img
                            src="../../../public/images/komatsu.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">DISTRIBUIDORA CUMMINS PERU SAC</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[20px] pb-[20px]"
                    >
                        <img
                            src="../../../public/images/e3.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">E3 SOLUCIONES INTEGRALES S.A.C.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[70px] pb-[80px]"
                    >
                        <img
                            src="../../../public/images/eFact.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">EFACT S.A.C.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[30px] pb-[40px]"
                    >
                        <img
                            src="../../../public/images/egasa.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">EMPRESA DE GENERACION ELECTRICA DE AREQUIPA S.A.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[0px] pb-[0px]"
                    >
                        <img
                            src="../../../public/images/estilos.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">ESTILOS S.R.L.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[40px] pb-[50px]"
                    >
                        <img
                            src="../../../public/images/eulen.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">EULEN DEL PERÚ DE SERVICIOS COMPLEMENTARIOS S.A.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>

                <div class="card border rounded-lg">
                    <div
                        class="card-header flex items-center justify-center pt-[60px] pb-[65px]"
                    >
                        <img
                            src="../../../public/images/alemana.webp"
                            class="card-img-top"
                            alt="..."
                        />
                    </div>
                    <div class="card-body ml-2">
                        <h5 class="card-title">FABRICA DE EMBUTIDOS LA ALEMANA S.A.C.</h5>
                        <div class="stars mb-4 flex">
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                            <i><Stars /></i>
                        </div>
                        <a
                            href="###########"
                            class="btn-secundario flex"
                                ><Arrow/><i class=""> Ver más</i></a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ChangePageNumbers/>
</section>