---
import Arrow1 from "./Arrow.astro";
import Formulario from "./Formulario.astro";
---

<section class="feria pt-40">
    <div class="dtl grid grid-cols-2 gap-2">
        <div class="pt-20 pl-10">
            <h2>Ferias y <span><br />Ruedas de Networking</span></h2>
            <p>
                Organizadas por los distintos comités de la institución.
            </p>

            <button type="submit" class="btn btn-secundario flex mt-10"
                ><i> <Arrow1 /></i>Más información</button
            >
        </div>

        <div>
            <div class="imagen1">
                <img
                    class="app-img1"
                    src="../../public/images/cooworking.webp"
                    alt=""
                />
            </div>
        </div>
    </div>

    <div class="pt-20 text-center"><h2>Ferias sectoriales</h2>
        <ul class="nav nav-pills m-3 mt-5 flex justify-center pl-4 pr-4" id="pills-tab">
            <li class="nav-item">
                <a
                    class="nav-link active"
                    id="pills-socios-tab"
                    href="#pills-tecnologia">Tecnología</a
                >
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#pills-educacion"
                    >Educación</a
                >
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#pills-automotriz"
                    >Automotriz</a
                >
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#pills-construccion"
                    >Construcción</a
                >
            </li>
        </ul>
        <div class="tab-content mt-5" id="nav-tabContent">

            <div class="expl p-10 justify-center flex">

                <img
                    src="../../../public/images/xploratec.webp"
                    width="250"
                    alt="..."
                />

            </div>
            <div class="tab-pane fade active show items" id="nav-tecnologia" role="tabpanel" aria-labelledby="nav-tecnologia-tab">

                <div class="grid grid-cols-3 gap-8 flex">
                                        
                    <div class="col">

                        <div class="card h-100">

                            <img src="../../../public/images/feria1.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/feria2.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/feria3.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/feria4.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/feria5.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/feria6.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/feria7.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/feria8.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/feria9.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                                                        </div>

            </div>

            </div>

            <div class="tab-content mt-5" id="nav-tabContent">

                <div class="expl p-10 justify-center flex">
    
                    <img
                        src="../../../public/images/expoeduca.webp"
                        width="250"
                        alt="..."
                    />
    
                </div>
                <div class="tab-pane fade active show items" id="nav-tecnologia" role="tabpanel" aria-labelledby="nav-tecnologia-tab">
    
                    <div class="grid grid-cols-3 gap-8 flex">
                                            
                        <div class="col">
    
                            <div class="card h-100">
    
                                <img src="../../../public/images/EE-Express-post.webp" class="card-img-top" loading="lazy" alt="...">
    
                                <div class="card-body flex-none">
    
                                    <h5 class="card-title"></h5>
    
                                    <p class="card-text"></p>
    
                                </div>
    
                            </div>
    
                        </div>
    
                        
                        <div class="col mb-4">
    
                            <div class="card h-100">
    
                                <img src="../../../public/images/eei.webp" class="card-img-top" loading="lazy" alt="...">
    
                                <div class="card-body flex-none">
    
                                    <h5 class="card-title"></h5>
    
                                    <p class="card-text"></p>
    
                                </div>
    
                            </div>
    
                        </div>
    
                        
                        <div class="col mb-4">
    
                            <div class="card h-100">
    
                                <img src="../../../public/images/EE-Idiomas-CCIA-APP y FB.webp" class="card-img-top" loading="lazy" alt="...">
    
                                <div class="card-body flex-none">
    
                                    <h5 class="card-title"></h5>
    
                                    <p class="card-text"></p>
    
                                </div>
    
                            </div>
    
                        </div>
    
                                                            </div>
    
                </div>
    
                </div>

                <div class="tab-content mt-5" id="nav-tabContent">

            <div class="expl p-10 justify-center flex">

                <img
                    src="../../../public/images/motorfest.webp"
                    width="250"
                    alt="..."
                />

            </div>
            <div class="tab-pane fade active show items" id="nav-tecnologia" role="tabpanel" aria-labelledby="nav-tecnologia-tab">

                <div class="grid grid-cols-3 gap-8 flex">
                                        
                    <div class="col">

                        <div class="card h-100">

                            <img src="../../../public/images/motorfest2.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/motorfest3.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/motorfest4.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/motorfest5.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/motorfest6.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/motorfest7.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/motorfest8.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/motorfest9.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                    
                    <div class="col mb-4">

                        <div class="card h-100">

                            <img src="../../../public/images/feria9.webp" class="card-img-top" loading="lazy" alt="...">

                            <div class="card-body flex-none">

                                <h5 class="card-title"></h5>

                                <p class="card-text"></p>

                            </div>

                        </div>

                    </div>

                                                        </div>

            </div>

            </div>

            <div class="tab-content mt-5" id="nav-tabContent">

                <div class="expl p-10 justify-center flex">
    
                    <img
                        src="../../../public/images/expoaqp.webp"
                        width="250"
                        alt="..."
                    />
    
                </div>
                <div class="tab-pane fade active show items" id="nav-tecnologia" role="tabpanel" aria-labelledby="nav-tecnologia-tab">
    
                    <div class="grid grid-cols-3 gap-8 flex">
                                            
                        <div class="col">
    
                            <div class="card h-200">
    
                                <img src="../../../public/images/expoaqp2.webp" class="card-img-top" loading="lazy" alt="...">
    
                                <div class="card-body">
    
                                    <h5 class="card-title"></h5>
    
                                    <p class="card-text"></p>
    
                                </div>
    
                            </div>
    
                        </div>
    
                        
                        <div class="col mb-4">
    
                            <div class="card h-fit">
    
                                <img src="../../../public/images/expoaqp3.webp" class="card-img-top" loading="lazy" alt="...">
    
                                <div class="card-body flex-none">
    
                                    <h5 class="card-title">Maraton Inmobiliaria 2021</h5>
    
                                    <p class="card-text">24, 25 y 26 de Noviembre!</p>
    
                                </div>
    
                            </div>
    
                        </div>
    
                        
                        <div class="col mb-4">
    
                            <div class="card h-100">
    
                                <img src="../../../public/images/expoaqp4.webp" class="card-img-top" loading="lazy" alt="...">
    
                                <div class="card-body flex-none">
    
                                    <h5 class="card-title"></h5>
    
                                    <p class="card-text"></p>
    
                                </div>
    
                            </div>
    
                        </div>
    
                        
                        <div class="col mb-4">
    
                            <div class="card h-100">
    
                                <img src="../../../public/images/expoaqp5.webp" class="card-img-top" loading="lazy" alt="...">
    
                                <div class="card-body flex-none">
    
                                    <h5 class="card-title"></h5>
    
                                    <p class="card-text"></p>
    
                                </div>
    
                            </div>
    
                        </div>
    
                        
                        <div class="col mb-4">
    
                            <div class="card h-100">
    
                                <img src="../../../public/images/expoaqp6.webp" class="card-img-top" loading="lazy" alt="...">
    
                                <div class="card-body flex-none">
    
                                    <h5 class="card-title"></h5>
    
                                    <p class="card-text"></p>
    
                                </div>
    
                            </div>
    
                        </div>
    
                        
                        <div class="col mb-4">
    
                            <div class="card h-100">
    
                                <img src="../../../public/images/expoaqp7.webp" class="card-img-top" loading="lazy" alt="...">
    
                                <div class="card-body flex-none">
    
                                    <h5 class="card-title"></h5>
    
                                    <p class="card-text"></p>
    
                                </div>
    
                            </div>
    
                        </div>
    
                        
                        <div class="col mb-4">
    
                            <div class="card h-100">
    
                                <img src="../../../public/images/expoaqp8.webp" class="card-img-top" loading="lazy" alt="...">
    
                                <div class="card-body flex-none">
    
                                    <h5 class="card-title"></h5>
    
                                    <p class="card-text"></p>
    
                                </div>
    
                            </div>
    
                        </div>
    
                        
                        <div class="col mb-4">
    
                            <div class="card h-100">
    
                                <img src="../../../public/images/expoaqp9.webp" class="card-img-top" loading="lazy" alt="...">
    
                                <div class="card-body flex-none">
    
                                    <h5 class="card-title"></h5>
    
                                    <p class="card-text"></p>
    
                                </div>
    
                            </div>
    
                        </div>
    
                        
                        <div class="col mb-4">
    
                            <div class="card h-100">
    
                                <img src="../../../public/images/expoaqp10.webp" class="card-img-top" loading="lazy" alt="...">
    
                                <div class="card-body flex-none">
    
                                    <h5 class="card-title"></h5>
    
                                    <p class="card-text"></p>
    
                                </div>
    
                            </div>
    
                        </div>
    
                                                            </div>
    
                </div>
    
                </div>

        </div>

</section>

<section class="exclusive py-6">

    <div class="container">

        <h2 class="title-section">Eventos <span>exclusivos</span></h2>

        <p>Para nuestros asociados</p>

        <div class="row mt-5 p-10">

            <div class="col-4 text-center p-4 bg-[#BDBDB5]">

                <h5 class="my-4 ">After Office Empresarial</h5>

                <p class="mb-0">Una vez al mes, organizamos un After Office Empresarial en nuestras instalaciones, donde podrás interactuar con otros asociados.</p>

            </div>

            <div class="col-4 text-center p-4 bg-[#3CBF71]">

                <h5 class="my-4">Desayunos</h5>

                <p class="mb-0">Invitamos a nuestros asociados a participar de un desayuno mensual de bienvenida, donde podrás interactuar con nuevos asociados y conocer nuestros servicios.</p>

            </div>

            <div class="col-4 text-center p-4 bg-[#BDBDB5]">

                <h5 class="my-4">Almuerzo Anual</h5>

                <p class="mb-0">Si eres asociado, podrás asistir al Almuerzo Anual de Asociados ¡Reserva tu cupo con anticipación!</p>

            </div>

        </div>

    </div>

</section>

<section class="formFerias">
    <div class="container">
        <Formulario/>

</div>
</section>
