---
import Arrow from "./Arrow.astro";
---

<section class="nuestrosC">
    <div>
        <h1>Nuestros convenios</h1>
        <div class="tab-pane pt-10 grid-cols-3 gap-4 flex">
            <div class="card border rounded-lg">
                <div
                    class="card-header flex items-center justify-center  pt-[0px] pb-[0px]"
                >
                    <img
                        src="../../../public/images/cognitio.webp"
                        class="card-img-top"
                        alt="..."
                    />
                </div>
                <div class="card-body">
                    <h5 class="card-title ">Cognitio</h5>
                    <a
                        href="###########"
                        class="btn-secundario flex pt-4"
                        ><Arrow/><i class="not-italic pt-[10px]"> Más información</i></a
                    >
                </div>
            </div>

            <div class="card border rounded-lg">
                <div
                    class="card-header flex items-center justify-center  pt-[80px] pb-[67px]"
                >
                    <img
                        src="../../../public/images/esan.webp"
                        class="card-img-top"
                        alt="..."
                    />
                </div>
                <div class="card-body">
                    <h5 class="card-title ">Universidad ESAN</h5>
                    <a
                        href="###########"
                        class="btn-secundario flex pt-4"
                        ><Arrow/><i class="not-italic pt-[10px]"> Más información</i></a
                    >
                </div>
            </div>

            <div class="card border rounded-lg">
                <div
                    class="card-header flex items-center justify-center  pt-[100px] pb-[85px]"
                >
                    <img
                        src="../../../public/images/HumanizaRSE.webp"
                        class="card-img-top"
                        alt="..."
                    />
                </div>
                <div class="card-body">
                    <h5 class="card-title ">HumanizaRSE</h5>
                    <a
                        href="###########"
                        class="btn-secundario flex pt-4"
                        ><Arrow/><i class="not-italic pt-[10px]"> Más información</i></a
                    >
                </div>
            </div>
            
        </div>

        <div class="tab-pane pt-10 grid-cols-3 gap-4 flex">
            <div class="card border rounded-lg">
                <div
                    class="card-header flex items-center justify-center  pt-[90px] pb-[80px]"
                >
                    <img
                        src="../../../public/images/intedya.webp"
                        class="card-img-top"
                        alt="..."
                    />
                </div>
                <div class="card-body">
                    <h5 class="card-title ">Intedya</h5>
                    <a
                        href="###########"
                        class="btn-secundario flex pt-4"
                        ><Arrow/><i class="not-italic pt-[10px]"> Más información</i></a
                    >
                </div>
            </div>

            <div class="card border rounded-lg">
                <div
                    class="card-header flex items-center justify-center  pt-[95px] pb-[75px]"
                >
                    <img
                        src="../../../public/images/orion.webp"
                        class="card-img-top"
                        alt="..."
                    />
                </div>
                <div class="card-body">
                    <h5 class="card-title ">Orion GPE</h5>
                    <a
                        href="###########"
                        class="btn-secundario flex pt-4"
                        ><Arrow/><i class="not-italic pt-[10px]"> Más información</i></a
                    >
                </div>
            </div>

            <div class="card border rounded-lg">
                <div
                    class="card-header flex items-center justify-center  pt-[110px] pb-[82px]"
                >
                    <img
                        src="../../../public/images/proavance.webp"
                        class="card-img-top"
                        alt="..."
                    />
                </div>
                <div class="card-body">
                    <h5 class="card-title ">PRO AVANCE</h5>
                    <a
                        href="###########"
                        class="btn-secundario flex pt-4"
                        ><Arrow/><i class="not-italic pt-[10px]"> Más información</i></a
                    >
                </div>
            </div>
            
        </div>

        <div class="tab-pane pt-10 grid-cols-3 gap-4 flex">
            <div class="card border rounded-lg">
                <div
                    class="card-header flex items-center justify-center  pt-[90px] pb-[102px]"
                >
                    <img
                        src="../../../public/images/tecsup.webp"
                        class="card-img-top"
                        alt="..."
                    />
                </div>
                <div class="card-body">
                    <h5 class="card-title ">TECSUP</h5>
                    <a
                        href="###########"
                        class="btn-secundario flex pt-4"
                        ><Arrow/><i class="not-italic pt-[10px]"> Más información</i></a
                    >
                </div>
            </div>

            <div class="card border rounded-lg">
                <div
                    class="card-header flex items-center justify-center  pt-[30px] pb-[40px]"
                >
                    <img
                        src="../../../public/images/lasalle.webp"
                        class="card-img-top"
                        alt="..."
                    />
                </div>
                <div class="card-body">
                    <h5 class="card-title ">Universidad La Salle</h5>
                    <a
                        href="###########"
                        class="btn-secundario flex pt-4"
                        ><Arrow/><i class="not-italic pt-[10px]"> Más información</i></a
                    >
                </div>
            </div>

            <div class="card border rounded-lg">
                <div
                    class="card-header flex items-center justify-center  pt-[80px] pb-[50px]"
                >
                    <img
                        src="../../../public/images/wca.webp"
                        class="card-img-top"
                        alt="..."
                    />
                </div>
                <div class="card-body">
                    <h5 class="card-title ">World Compliance Association</h5>
                    <a
                        href="###########"
                        class="btn-secundario flex pt-4"
                        ><Arrow/><i class="not-italic pt-[10px]"> Más información</i></a
                    >
                </div>
            </div>
            
        </div>
    </div>
</section>