---
import Arrow1 from "./Arrow1.astro";
import NavbarAgenda from "./NavbarAgenda.astro";
import StaticSlides from "./StaticSlides.astro";
---

<section class="protestos pt-40">
    <div class="dtl grid grid-cols-2 gap-2">
        <div class="pt-20 pl-10">
            <h2 class="leading-[55px]">Protestos y <span><br />Moras</span></h2>
            <p>
                Continúa con tu actividad empresarial operativa.<br /><br />
                Pagarés, letras, cheques, warrants que tengan la cláusula sin protesto y cuyos pagos a su vencimiento no se han efectuado.<br /><br />
                Para realizar una consulta selecciona: <br>
(50% de descuento para nuestros socios)
            </p>

            <button type="submit" class="btn btn-secundario flex mt-10"
                ><i> <Arrow1 /></i> Ver más</button
            >
        </div>

        <div>
            <div class="imagen1">
                <img
                    class="app-img1"
                    src="../../public/images/protestos1.webp"
                    alt=""
                />
            </div>
            <div class="flex">
                <div class="w-1/2"><a href="#"><img
                class=" pt-10 w-200"
                src="../../public/images/videos.webp"
                alt=""
            /></a></div>
            <div class="pt-10 w-1/2">
                <p class="uppercase">Novedades</p>
                <p class="">¿Qué es el libro de reclamaciones?</p>
            </div></div>
        </div>
    </div>
    <NavbarAgenda 
    name="Jocelyn Cari Amanqui"
    number="380505 Anexo 111"
    hotmail="jcari@cciarequipa.org"/>

</section>

<section class="certificacion-servicios pt-6 mt-6">

    <div class="container-fluid pl-0 pr-0 flex">

        <div class="row row-cols-4 mr-0 ml-0 bg-black flex text-center">

            
            <div class="col pl-0 pr-0">

                <div class="card h-100 bg-[url('../../public/images/certificacion2.webp')]">

                    <div class="card-body">

                        <h5 class="card-title text-lg">Tarifario</h5>

                        <a href="#tarifario-origen" class="btn-outline py-3 px-4">Ver más</a>

                    </div>

                </div>

            </div>

            
            <div class="col pl-0 pr-0">

                <div class="card h-100 bg-[url('../../public/images/certificacion3.webp')]">

                    <div class="card-body">

                        <h5 class="card-title text-lg">Levantamiento de Protestos y Moras</h5>

                        <a href="#certificados-origen" class="btn-outline py-3 px-5">Ver más</a>

                    </div>

                </div>

            </div>

            
            <div class="col pl-0 pr-0">

                <div class="card h-100 bg-[url('../../public/images/certificacion4.webp')]">

                    <div class="card-body">

                        <h5 class="card-title text-lg">Títulos Valores</h5>

                        <a href="#requisitos-origen" class="btn-outline py-3 px-5">Ver más</a>

                    </div>

                </div>

            </div>

            
            <div class="col pl-0 pr-0">

                <div class="card h-100 bg-[url('../../public/images/certificacion5.webp')]">

                    <div class="card-body">

                        <h5 class="card-title text-lg">Preguntas Frecuentes</h5>

                        <a href="#otros-origen" class="btn-outline py-10 px-5">Ver más</a>

                    </div>

                </div>

            </div>

            
        </div>

    </div>

</section>